.login-container {
    position: relative;
    width: 400px;
    margin: 4rem auto;
    
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -5px -5px 9px gainsboro;
}
